body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h4 {
  font-weight: bold;
}

#city-name {
  padding-bottom: 1em;
}

#search-button {
  font-weight: bold;
}

#forecast-box {
  font-size: 0.9em;
  font-weight: bold;
}