body {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h4 {
  font-weight: bold;
}

#city-name {
  padding-bottom: 1em;
}

#search-button {
  font-weight: bold;
}

#forecast-box {
  font-size: 0.9em;
  font-weight: bold;
}

#city-icon {
  height: 80px;
}

#day1-icon, #day2-icon, #day3-icon, #day4-icon, #day5-icon {
  height: 60px;
}